#logo {
    width: 20%;
}

.caixa {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

nav li {
    font-family: 'Roboto', sans-serif;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0, 25px, 0, 15px;
    padding: 30px;
    padding-right: 0%;
}


nav {
    position: absolute;
    top: 130px;
    left: 200px;
}

nav a {
    text-transform: uppercase;
    color: #2e2c2c;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: none;
    color: #1a1919;
}

nav a:hover {
    color: #880000;
    text-decoration: underline;

}

#banner {
    width: 100%;

}

.conteiner {
width: 100%;
height: 500px;
background-image: url(../images/banner41.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
position: relative;

}

.intconteiner {
    width: 100%;
    bottom: 10%;
    position: absolute;
    text-align: center;
    
        
}

#titulo {
    color: rgb(217, 215, 215);
    font-size: 70px;
    font-family: 'Fredoka One', cursive, sans-serif;
    letter-spacing:5px ;
    font-style: italic;
    font-weight: normal;
    text-shadow: rgb(0, 0, 0) 2px 3px 2px;
    
   
    
    
}


body {
    background: #cccccc;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

#corpo {
   margin: auto;
}

h1 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    
}


#p1 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(0, 0, 0);
}

#prof {
    font-size: 30px;
    font-style: italic;
}


h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

h3 {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.paragrafos {
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

#aprendi {
    background: white;
    padding-bottom: 30px;
}

.carrossel {
    width: 100%;
}

.conteiner2 {
    width: 100%;
    height: 500px;
    background-image: url(../images/lousa.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
    }
    
    .intconteiner2 {
        width: 100%;
        bottom: 10%;
        position: absolute;
        text-align: center;
    }

    #titulo2 {
        color: rgb(255, 255, 255);
        font-size: 100px;
        font-family: 'Fredericka the Great', cursive, sans-serif;
        letter-spacing:5px ;
        font-style: italic;
        font-weight: normal;
        text-shadow: rgb(0, 0, 0) 2px 3px 2px;
    }
#relatorio {
    font-family: 'Fredoka One', cursive, sans-serif;
    letter-spacing:5px ;
}
    
    #colegios {
        font-size: 50px;
        font-style: italic;
    }

    footer {
        text-align: center;
        background: url("../images/bg.jpg");
        padding: 30px 0;
        font-size: 20px;
        color: #FFFFFF;
    }